# Credenciales de Supabase
VITE_SUPABASE_URL=insertar_url_del_proyecto_supabase
VITE_SUPABASE_ANON_KEY=insertar_clave_anonima_supabase

# Credenciales de Inteligencia Artificial (Gemini)
VITE_GEMINI_API_KEY=insertar_clave_api_gemini
